.profile {
	max-width: 410px;
	min-height: calc(100vh - 149px);
	min-height: calc(100dvh - 149px);
	margin: 75px auto 0;
	padding: 0 var(--padding-inline-l);
}

.profile__title {
	margin: 0 0 110px;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
}

.profile__form {
	min-height: calc(100vh - 433px);
	display: flex;
	flex-direction: column;
}

.profile__fieldset {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 15px 0;
	border: 0;
	font-size: 11px;
	line-height: normal;
}

.profile__fieldset:first-of-type {
	border-bottom: 1px #424242 solid;
}

.profile__fieldset:last-of-type {
	margin-bottom: 70px;
}

.profile__name-label,
.profile__email-label {
	font-weight: 500;
}

.profile__name-input,
.profile__email-input {
	color: var(--clr-secondary);
	text-align: right;
	background: transparent;
	border: 0;
}

.profile__button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: var(--clr-secondary);
	text-align: center;
	font-size: 13px;
	line-height: normal;
	transition: color .5s, background-color .5s;
}

.profile__button_type_edit {
	margin: auto auto 0;
	padding: 8px;
}

.profile__button_type_edit:hover {
	color: hsl(0, 0%, 100%, .8);
}

.profile__button_type_logout {
	margin: 0 auto;
	padding: 8px;
	color: hsl(344, 85%, 57%);
}

.profile__button_type_logout:hover {
	color: hsl(344, 85%, 57%, .8);
}
