.profile {
	max-width: 410px;
	min-height: calc(100vh - 149px);
	min-height: calc(100dvh - 149px);
	margin: 75px auto 0;
	padding: 0 30px;
}

.profile section {
	min-height: 343px;
}

.profile__title {
	margin: 0 0 110px;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
}

.profile__form {
	min-height: calc(100vh - 433px);
	display: flex;
	flex-direction: column;
}

.profile__fieldset {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 10px 0;
	border: 0;
	font-size: 11px;
	line-height: normal;
}

.profile__fieldset:first-of-type {
	border-bottom: 1px #424242 solid;
}


.profile__label {
	min-width: 40px;
	padding-block: 5px;
	font-weight: 500;
}

.profile__input {
	width: 100%;
	padding-block: 5px;
	outline: 2px solid transparent;
	border: 0;
	text-align: right;
	color: var(--clr-secondary);
	background-color: transparent;
	transition: outline .2s, background-color .2s;
}

.profile__input:focus {
	outline: 2px solid var(--clr-accent);
}

.profile__input:not(:disabled) {
	background-color: var(--clr-alternative);
}

.profile__button {
	text-align: center;
	font-size: 13px;
	line-height: normal;
	padding: 8px;
}

.profile__button_type_edit {
	margin: 0 auto;
	color: var(--clr-secondary);
}

.profile__button_type_logout {
	margin: 0 auto;
	color: hsl(344, 85%, 57%);
}

.profile__update {
	height: 14px;
	margin: 50px auto 100px;
	text-align: center;
	line-height: 1;
	color: var(--clr-accent);
	visibility: hidden;
}

.profile__update[data-visible="true"] {
	visibility: visible;
	animation: fade-out 3s ease-in-out forwards;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@media screen and (max-width: 800px) {

	.profile {
		min-height: calc(100dvh - 310px);
		min-height: calc(100dvh - 310px);
		margin-top: 236px;
	}

	.profile__title {
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 420px) {
	.profile {
		min-height: calc(100dvh - 144px);
		display: flex;
		flex-direction: column;
		margin-top: 70px;
	}

	.profile__title {
		margin-bottom: 65px;
	}

	.profile__form {
		min-height: calc(100vh - 270px);
	}

	.profile__form .profile__button_type_edit,
	.profile__form .form-button {
		margin-top: auto;
	}
}
